/* IRANSans FaNum - Thin (100) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum).woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* IRANSans FaNum - UltraLight (200) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* IRANSans FaNum - Light (300) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* IRANSans FaNum - Medium (500) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* IRANSans FaNum - Bold (600) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Bold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* IRANSans FaNum - Black (800) */
@font-face {
  font-family: "IRANSansFaNum";
  src: url("../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Black.woff2")
      format("woff2"),
    url("../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Black.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Variable definition (optional if using CSS variables) */
:root {
  --font-iransansFaNum: "IRANSansFaNum", sans-serif;
}
